# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jhonatanmariani\Documents\Univali\Semestre 2022.1\Compiladores\compiladores\implementacao-compiladores\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
